@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Permanent+Marker&family=Raleway:wght@200;600&family=Teko:wght@300&display=swap");

/*MVL VERSION*/
.home-page {
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.home-page-name {
  font-family: "Cabin", sans-serif;
  font-size: 3rem;
  color: rgba(14, 29, 52, 0.9);
  text-align: center;
  margin: 0.3rem;
}

.home-page-description {
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgba(14, 29, 52, 0.9);
  text-align: center;
  font-size: xx-large;
  margin: 2rem;
}

.doit-home {
  font-family: "Cabin", sans-serif;
  font-size: 5rem;
  color: rgba(14, 29, 52, 0.9);
  text-align: center;
}

.home-page-title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: rgba(14, 29, 52, 0.9);
  text-decoration: underline;
}
.home-page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 8rem 0;
  row-gap: 1.5rem;
}

.doit-home {
  font-family: "Cabin", sans-serif;
  font-size: 5rem;
  color: rgba(14, 29, 52, 0.9);
  text-align: center;
}

.home-page-card {
  max-width: 100%;
  height: 100%;
  display: grid;
  gap: 1rem;
  margin: 2rem;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.home-page-card-title {
  color: rgba(14, 29, 52, 0.9);
}

.home-page-card-content {
  margin: 0;
  padding: 1rem;
  line-height: 1.7;
}

.home-page-card img {
  width: 100%;
  position: relative;
  margin-bottom: 0.3rem;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
  height: 200px;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.home-page-card:hover img {
  -webkit-transform: scale(0.5);
  transform: scale(1.14);
}
.contenedor {
  overflow: hidden;
}

/* TABLET VERSION*/
@media (min-width: 700px) {
  .home-page-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(25%);
    margin: 0 1rem 0 1rem;
    z-index: 20;
  }

  .home-page-name {
    font-family: "Cabin", sans-serif;
    font-size: 4rem;
    color: rgba(14, 29, 52, 0.9);
    text-align: center;
    margin: 0.4rem;
  }

  .home-page-description {
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    color: rgba(14, 29, 52, 0.9);
    text-align: center;
    font-size: xx-large;
    margin: 2rem;
  }
  .doit-home {
    font-family: "Cabin", sans-serif;
    font-size: 5rem;
    color: rgba(14, 29, 52, 0.9);
    text-align: center;
  }

  .home-page-card {
    max-height: 100%;
    display: grid;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  }

  .home-page-card img {
    width: 100%;
    position: relative;
    margin-bottom: 0.3rem;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
  }

  .home-page-card:hover img {
    -webkit-transform: scale(1);
    transform: scale(1.09);
  }

  .home-page-card-title {
    color: rgba(14, 29, 52, 0.9);
  }

  .home-page-card-content {
    margin: 0;
    padding: 1rem;
    line-height: 1.7;
  }
}

/* PC VERSION*/
@media (min-width: 1025px) {
  .home-page-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(25%);
    margin: 0 1rem 0 1rem;
    z-index: 20;
  }

  .home-page-name {
    font-family: "Cabin", sans-serif;
    font-size: 5rem;
    color: rgba(14, 29, 52, 0.9);
    text-align: center;
  }

  .home-page-description {
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    color: rgba(14, 29, 52, 0.9);
    text-align: center;
    font-size: xx-large;
    margin: 2rem;
  }

  .doit-home {
    font-family: "Cabin", sans-serif;
    font-size: 5rem;
    color: rgba(14, 29, 52, 0.9);
    text-align: center;
  }

  .home-page-card {
    /* width: 70%; */
    max-height: 100%;
    display: grid;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  }

  .home-page-card img {
    width: 100%;
    position: relative;
    margin-bottom: 0.3rem;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
  }

  .home-page-card:hover img {
    -webkit-transform: scale(1);
    transform: scale(1.09);
  }

  .home-page-card-title {
    color: rgba(14, 29, 52, 0.9);
  }

  .home-page-card-content {
    margin: 0;
    padding: 1rem;
    line-height: 1.7;
  }
}

.home-card-link:link {
  text-decoration: none;
}
