*, :before, :after {
    box-sizing: border-box;
  }
  

  .error {
    display: flex;
  align-items: center;
  background: #E3F2FD;
  min-width: 275px;
  height: 100vh;
  margin: 0 10vw;
  overflow: hidden;
  color: #138FF2;
  font-family: Roboto;
  }


  .wrapper-error {
    flex-grow: 2;
  width: 40vw;
  max-width: 500px;
  margin: 0 auto;
  }

.h1-error {
    margin: 0;
    font-size: 6em;
    font-weight: 100;
}


.p-error {
  width: 100%;
  font-size: 1.5em;
  line-height: 1.4;
}  

.button-error {
    white-space: nowrap;
  display: inline-block;
}

.link-error {
  display: inline-block;
  padding: .8em 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 3px solid #B9DDFB;
  color: #138FF2;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
  position: relative;
  overflow: hidden;
  transition: .3s;

}
.link-error::after {
 
}
