article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 1vmin;
    margin-top: 3vmin;
    background-color: var(--grey3-color);
    border-radius: 1vmin;
}


p {
    border-radius: 1vmin;
    margin: 2vmin 0vmin;
    padding: 3vmin 2vmin;
    text-align: center;
    width: 100%;
}

h2 {
    color: var(--blue-color);
    text-transform: uppercase;
    margin-bottom: 1.5vmin;
}