.newReply {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgba(14, 29, 52, 0.9);
  color: #fff;
  border: 1px solid black;
  gap: 5rem;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 0.8rem;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}

.button-new-reply {
  margin-bottom: 1rem;
}

.sendButton {
  background-color: #0e1d34;
  border: none;
  color: white;
  padding: 0.4rem;
  width: 100px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  font-size: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
}

.sendButton:hover {
  background-color: #305182;
  color: white;
}
