/*.exploreservices{
    align-items: center;
    width: 300px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 300px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
   
}

#category{
    display: none;
    position:absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(190, 31, 31, 0.2);
}

#category{
    display: block;
}

#category{
    display: block;
    color: rgb(32, 209, 62);
    padding: 5px;
    text-decoration: none;

}

#category{
    display: block;
    color: rgb(201, 189, 22);
    padding: 5px;
    text-decoration: none;

}

.exploreservices-content a{
    color: rgb(211, 27, 218);
    background-color: blue;
}



.input {
    align-items: center;
    width: 300px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 300px;
    border: none;
    background-color: #fff;
    border-radius: 3%;
   
}*/

/* li {
    width: 100%;
    align-items: center;
    width: 300px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-left: 600px;
    color: rgba(255, 255, 255, 0.6);
    list-style: none;
    cursor: pointer;
    padding: 20px;
    transition: 0.5s;
    justify-content: flex-end;

}

li:hover {
    color: white;
    transition: 0.5s;
}

.cont-services {
    position: absolute;
    display: none;
    transform: translateY(20px);
    transition: 0.5s;

}

.cont-services>li {
    color: grey;
    border: none;
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 190px;
    transform: translateX(-20px);
    padding: 20px;
    transition: 0.5s;

}

.cont-services>li:hover {
    color: #2756ff;
    transition: 0.5s;
}

.explore-services:hover>.cont-services {
    display: block;
    transition: 0.5s;
} */

/*
.cont-services {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: #fff;
    font-family: "Inter", sans-serif;
  }


  header {
    position: relative;
    width: 100%;
    min-width: 900px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7c7cc3;
}

.title {
    margin-left: 50px;
}

.logo {
    width: 5rem;
}

nav {
    gap: 2rem;
}

.cont-nav {
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    position: absolute;
}

.auth {
    display: flex;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 20px;
    transition: 0.5s;
}

li:hover {
    background-color: aliceblue;
    transition: 0.5s;
}

.cont-services {
    position: absolute;
    display: none;
    transform: translateY(20px);
    transition: 0.5s;
}

.cont-services>li {
    border-bottom: solid 1px black;
    text-align: center;
    background-color: green;
    padding: 20px;
    width: 190px;
    transform: translateX(-20px);
    padding: 20px;
    transition: 0.5s;
}

.cont-services>li:hover {
    background-color: red;
    transition: 0.5s;
}

.explore-services:hover>.cont-services {
    display: block;
    transition: 0.5s;
}*/