/* VERSIÓN MÓVIL */

.openButton {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem 1rem;
  color: #ffff;
  border-radius: 0.8rem;
  text-decoration: none;
  background: linear-gradient(135deg, #13496d, #512264);
}

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(14, 29, 52, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container {
  display: flex;
  position: relative;
  max-width: 29rem;
  max-height: 30rem;
  background-color: #fff;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media (min-width: 1025px) {
  .modal.is-open {
    display: flex;
  }

  /* VERSIÓN TABLET */
  @media (min-width: 700px) {
  }

  /* VERSIÓN PC */
  @media (min-width: 1025px) {
    .modal.is-open {
      display: flex;
    }
  }
}
