/* Profile CSS */
/* Móvil */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.avatarNameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  border: 2px solid black;
}

.profile p {
  text-align: center;
}

.profile h2 {
  background-color: rgba(14, 29, 52, 0.9);
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0 1.4rem 0 1.4rem;
  margin: 1rem;
  text-align: center;
}

.servicesCreated h2 {
  background-color: rgba(14, 29, 52, 0.9);
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0 1.4rem 0 1.4rem;
  margin: 1rem;
  text-align: center;
}

.servicesCreated {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  text-align: center;
}

/* VERSIÓN TABLET */
@media (min-width: 700px) {
  .profile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(25%);
    margin: 0 1rem 0 1rem;
    z-index: 20;
  }

  .emailContainer {
    display: inline;
  }

  .profile div {
    min-height: 15rem;
  }

  .profile h2 {
    text-align: center;
    font-size: 1.3em;
  }
  .profile p {
    text-align: center;
  }
}

/* VERSIÓN PC */
@media (min-width: 1025px) {
  .servicesCreated {
    display: flex;
  }

  /*   .servicesCreated .services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(25%);
    margin: 0 1rem 0 1rem;
    z-index: 20;
    justify-content: center;
  } */
}

/* Edit User CSS */
/* Móvil */
.openButtonEdit {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1rem 1rem;
  color: #ffff;
  border-radius: 0.8rem;
  text-decoration: none;
  background: linear-gradient(135deg, #13496d, #512264);
}

.editUser {
  background-color: rgba(14, 29, 52, 0.9);
  color: #fff;
  border: 1px solid black;
  gap: 2rem;
  margin: 1.5rem;
  justify-content: center;
  text-align: center;
}

.setChanges {
  background-color: #0e1d34;
  border: none;
  color: white;
  padding: 0.4rem;
  width: 100px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  font-size: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
}

.setChanges:hover {
  background-color: #305182;
  color: white;
}

.textarea-editUser {
  background-color: rgb(239, 239, 239);
}

/* VERSIÓN TABLET */
@media (min-width: 700px) {
}

/* VERSIÓN PC */
@media (min-width: 1025px) {
  .openButton {
    font-size: 14px;
    background-color: rgba(14, 29, 52, 0.9);
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0 1.4rem 0 1.4rem;
    margin: 0.8rem 0 0 0;
    max-width: 10rem;
  }
}
