header {
  padding: 0.5rem;
  min-width: 100%;
  align-items: center;
  background-color: rgba(14, 29, 52, 0.9);
  position: sticky;
}

header .title {
  font-family: "Inter", sans-serif;
  color: #fff;
  text-decoration: none;
}

header .logo {
  display: flex;
  float: left;
  align-items: center;
  padding: 0 0 0 0.5rem;
  width: 3.5rem;
}

header nav {
  gap: 2rem;
}

.explore-services {
  color: white;
  text-decoration: none;
  
}

.cont-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (min-width: 1025px) {

header {
  padding: 0.5rem;
  min-width: 100%;
  align-items: center;
  background-color: rgba(14, 29, 52, 0.9);
  position: sticky;
}

header .title {
  font-family: "Inter", sans-serif;
  color: #fff;
  text-decoration: none;
}

header nav {
  gap: 2rem;
}

.explore-services {
  color: white;
  text-decoration: none;
}

.cont-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo {
  display: flex;
  float: left;
  align-items: center;
  padding: 0 0 0 0.5rem;
  width: 3.5rem;
}
}
