/* Profile CSS */
/* Móvil */

.profile { 
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.profile h1 { 
    display:block
}

.profile .avatar{
    align-items: left;
} 

.profile h2 {
    display:block
}

.servicesCreated {
    display:flex;
    flex-direction:column;
    margin:2rem;
}
.servicesCreated h2 { 
    text-align: center;
}

/* VERSIÓN TABLET */
@media (min-width: 700px){
    
    .profile { 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(25%);
        margin: 0 1rem 0 1rem;
        z-index: 20;
    }

    .emailContainer {
        display: inline;
    }

.profile h2 {
    text-align: center;
}
.profile p{
    text-align: center;
}


}

/* VERSIÓN PC */
@media (min-width: 1025px){
  

}


/* Edit User CSS */