footer {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  background-color: #0e1d34;
  padding: 0.8rem;
  color: white;
  z-index: 999;
}

footer p {
  text-align: center;
}
