/* VERSIÓN MÓVIL */

.services-list {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 100%;
  align-items: center;
  overflow: hidden;
  margin-bottom: 7rem;
}

.services-list .service-container-container {
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
}

.services-list .service-description {
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6rem;
}

/* VERSIÓN TABLET */
@media (min-width: 700px) {
  .services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    padding-right: 1.5rem;
  }

  .services-list .service-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .services-list .service-container-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
}

/* VERSIÓN PC */
@media (min-width: 1000px) {
  .services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 3rem;
  }

  .services-list .service-container {
    overflow: hidden;
  }

  .services-list .service-container-container {
    max-width: 100%;

    overflow: hidden;
  }

  .services-list .service-description {
    word-wrap: break-word;
    overflow: hidden;
    max-height: 6rem;
  }
}
