/* VERSIÓN MÓVIL */
.services-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
  max-width: 100%;
  align-items: center;
  margin-bottom: 7rem;
}

/* VERSIÓN TABLET */
@media (min-width: 700px) {
  .services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    max-width: 100%;
  }
}

/* VERSIÓN PC */
@media (min-width: 1000px) {
  .services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
    max-width: 100%;
  }
}
