.openButton {
  font-size: 14px;
  background-color: rgba(14, 29, 52, 0.9);
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0 1.4rem 0 1.4rem;
  margin: 0.8rem 0 0 0;
}

.editService {
  background-color: red;
}

.setChanges {
  background-color: #0e1d34;
  border: none;
  color: white;
  padding: 0.4rem;
  width: 100px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  font-size: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
}

.setChanges:hover {
  background-color: #305182;
  color: white;
}

.textarea-editService {
  background-color: rgb(239, 239, 239);
}
