.link {
  color: rgb(246, 234, 234);
}

header .newServiceButton {
  display: flex;
  color: rgb(246, 234, 234);
  border: 0;
  background-color: transparent;
  margin: -0.1rem;
}

.headerUsername {
  width: 5rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  text-decoration: none;
  background: linear-gradient(135deg, #4faae7, #7c518d);
  opacity: 89%;
  border-radius: 0.8rem;
}

.logout {
  color: rgb(246, 234, 234);
  border: 0;
  background-color: transparent;
}

.logged {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

@media (min-width: 700px) {
  .link {
    color: rgb(246, 234, 234);
  }

  .logged {
    display: flex;
    flex-direction: row;
  }

  .auth {
    color: rgb(246, 234, 234);
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    gap: 1rem;
    text-decoration: none;
  }

  .buttonsHeader {
    display: flex;
    gap: 0.5rem;
  }

  header .newServiceButton {
    color: rgb(246, 234, 234);
    border: 0;
    background-color: transparent;
  }

  .logout {
    color: rgb(246, 234, 234);
    background-color: transparent;
    padding: 0rem;
  }
}

@media (min-width: 1025px) {
  .link {
    color: rgb(246, 234, 234);
  }

  .logged {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-left: 5rem;
  }

  .auth {
    color: rgb(246, 234, 234);
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    gap: 1rem;
    text-decoration: none;
  }

  .buttonsHeader {
    display: flex;
    gap: 0.5rem;
  }

  header .newServiceButton {
    color: rgb(246, 234, 234);
    border: 0;
    background-color: transparent;
  }

  .logout {
    color: rgb(246, 234, 234);
    background-color: transparent;
    padding: 0rem;
  }
}
